.index {
    margin: 0 34px;
  }
  
  .index :global(.ant-list-header){
      display: flex;
      justify-content: flex-end;
  }
  
  .item {
    margin-bottom: 10px;
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    padding: 0 20px;
  }
  