:root {
  --header-height: 52px;
}

body,
#root,
#root > .ant-layout {
  height: 100%;
}

body > div > .ant-layout {
  padding-top: var(--header-height);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root > .ant-layout > .ant-layout-header {
  background-color: #fcfcfc;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#root > .ant-layout .ant-layout-sider {
  height: calc(100vh - var(--header-height));
}

.rdw-link-modal, .rdw-embedded-modal, .rdw-embedded-modal {
  min-height: 294px;
}

.rdw-link-modal-btn, .rdw-image-modal-btn, .rdw-embedded-modal-btn {
  min-height: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a.ant-tabs-tab {
  padding-top: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  margin: 0 32px 0 0;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a.ant-tabs-tab-active{
  border-bottom: 2px solid #1890ff;
}
